/* @font-face {
    font-family: Montserrat;
    src: url('fonts/MyFont-Regular.woff2') format('woff2'), url('fonts/MyFont-Regular.woff') format('woff'), url('fonts/MyFont-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url('fonts/MyFont-Bold.woff2') format('woff2'), url('fonts/MyFont-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Montserrat, system-ui, sans-serif;
}

.headet-top {
    display: flex;
} */